// variables
$font-size: 14px;
$gutter: 15px;

// mixins
@mixin clear() {
    float: left;
    clear: both;
}

// function
@function rem( $px, $base: $font-size ) {
    @return ( $px / $base ) * 1rem;
}

// imports
@import "sbplus_fonts";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";

/* GENERAL */
html {
    font-size: $font-size;
    margin: 0;
    padding: 0;
}

body {
    @extend html;
	line-height: rem( 16px );
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: transparent;
	@include clear;
}

p {
    margin: rem( $font-size ) 0;
}

// PLAYER WRAPPER
#storybook_plus_wrapper {
	width: rem( 900px );
	@include clear;
}

// SPLASH SCREEN
#splash_screen {

	width: rem( 900px );
	height: rem( 630px );
	padding: 200px;
	text-align: center;
	background-color: #fff;
	background-position: left bottom;
	background-repeat: no-repeat;
	cursor: pointer;
	@include box-sizing( "border-box" );
	
	p {
	
    	font-size: rem( 24px );
        line-height: rem( 28px );
        font-weight: bold;
        
        small {
            font-size: rem( 18px );
            line-height: rem( 22px );
            font-weight: normal;
        }
        
	}
	
	a.playBtn, a.playBtn:visited, a.playBtn:hover {	
    	display: inline-block;
    	font-size: rem( 26px );
    	line-height: rem( 26px );
    	color: #fff;
    	text-align: center;
    	text-decoration: none;
    	margin-bottom: 0;
    	padding: rem( 10px ) rem( 40px ) rem( 5px );
    	background-color: #006DCC;
    	@include border-radius( rem( 3px ) );
    }
	
} // #splase_screen

// PLAYER
#player {

	display:none;
	@include clear;
	
	// HEADER (TOP BLACK) BAR
    header {
    
    	width: rem( 870px );
    	height: rem( 23px );
    	color: #fff;
    	font-size: rem( 16px );
    	font-weight: bold;
    	padding: rem( 7px ) rem( $gutter ) 0;
    	background-color: #131313;
    	
    	#lessonTitle {
        	display: inline-block;
            width: 410px;
            margin-right: rem( $gutter );
    	    float: left;
    	}
    	
    	#instructorName {
        	@extend #lessonTitle;
        	text-align: right;
        }
        
        .infoIcn {
        	display: inline-block;
        	@include opacity( .75 );
        	@include single-transition( opacity, ease-out, .3s );
        }
        
        .infoIcn:hover {
            @include opacity( 1 );
        	@include single-transition( opacity, ease-in, .3s );
        }
        
        a, a:visited, a:hover {
            color:#fff;
            text-decoration:none;
        }
    	
    } // header
	
} // #player


// PLAYER CONTENT
#content {

	@include clear;
	
	// SLIDE
    #slide {
    
    	position: relative;
    	height: rem( 360px );
    	background: #fff;
    	overflow: hidden;
    	
    	img {
        	width: rem( 640px );
            height: rem( 360px );
    	}
    	
    	.magnifyIcon {
        	position: absolute;
        	width: rem( 40px );
        	height: rem( 40px );
        	font-size: rem( 25px );
        	color: #fff;
        	text-align: center;
        	padding-top: rem( 12px );
        	bottom: rem( 10px );
        	right: rem( 10px );
        	cursor: pointer;
        	background-color: #131313;
        	@include border-radius( rem( 3px ) );
        	@include box-sizing( "border-box" );
        	@include opacity( .5 );
        	@include single-transition( opacity, ease-out, .3s );
        }
        
        .magnifyIcon:hover {
            @include opacity( .75 );
            @include single-transition( opacity, ease-in, .3s );
        }
        
        
    	
    } // #slide
    
    // AUDIO PLAYER
    #ap {
    	display: none;
    	background-color: rgba(7,20,30,0.7);
    }
    
    #apm {
    	display: none;
    	width: 46.85%;
    	height: rem( 34px );
    	padding-top: rem( 4px );
    	background-color: rgba(7,20,30,0.7);
    	float: left;
    }
	
} // #content




/* VIDEO PLAYER */
#vp {
	display:none;
	margin-top: -360px;
}


/* QUIZ */
#quiz {
	position:relative;
	width:640px;
	height:360px;
	background-image:url(../img/noisy-texture.png);
	background-color:#EBEBEB;
	overflow-y: scroll;
}
#quiz .header{
	/* width:622px; */
	height:15px;
	max-height:17px;
	padding:9px 9px;
	background-image:url(../img/quiz_bg.png);
	background-color:#ccc;
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
}
#quiz .question{
	height:auto;
	max-height:101px;
	padding:16px 20px 20px 20px;
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	margin:0;
}
#quiz .answerArea {
	padding:0px 20px;
	margin:0;
}
#quiz label {
	display:block;
	margin:0px 0px 6px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
}
#quiz textarea {
	font-family:Arial, Helvetica, sans-serif;
	width:588px;
	height:108px;
	padding:5px;
	font-size:14px;
	color:#000;
	resize:none;
}
#quiz .submitArea {
	text-align:center;
	margin: 25px 0px 10px 0px;
}
#quiz .submitArea button {
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top , #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 8px 24px;
	text-align: center;
	vertical-align: middle;
}
#quiz .quizCorrect, #quiz .quizIncorrect {
	font-weight:bold;
	font-size:18px;
	text-align:center;
}
#quiz .quizCorrect {
	color:#090;
	
}
#quiz .quizIncorrect {
	color:#F00;
}
#quiz .feedback {
	padding:0px 20px;
}


/* SLIDE LOADING SPINNER */
#progressing {
	position:absolute;
	top:155px;
	left:295px;
	width:50px;
	height:50px;
	background:url(../img/spinner.gif) no-repeat center center, rgb(255,255,255);
}


/* SLIDE NOTE AREA */
#slideNote {
	width:71.1%;
	float:left;
}


/* NOTE STYLES */
#note {
	font-family:Arial, Helvetica, sans-serif;
	width:629px;
	height:189px;
	font-size:16px;
	line-height:20px;
	border-top:#ccc solid 1px;
	border-right:1px solid #ccc;
	background-color:#fff;
	padding:5px;
	overflow:auto;
	float:left;
}
#note b, #note strong {
	font-weight:bold;
}
#note i, #note em {
	font-style:italic;
}
#note p a, #note p a:visited {
	color:#0000FF;
	text-decoration:underline;
}
#note a:hover {
	text-decoration:none;
}
#note p {
	font-size:14px;
	line-height:18px;
	margin:0px 0px 10px 0px;
}
#note h1, #note h2, #note h3, #note h4, #note h5, #note h6 {
	font-weight:bold;
	margin:10px 0;
}
#note h1 {
	font-size:20px;
	line-height:24px;
}
#note h2 {
	font-size:18px;
	line-height:22px;
}
#note h3, #note h4, #note h5, #note h6 {
	font-size:16px;
	line-height:20px;
}


/* TABLE OF CONTENT */
#toc {
	width:28.9%;
	height:599px;
	float:left;
	background-color:#fff;
	overflow:auto;
	border-bottom: #ccc solid 1px;
	background-image: url(../img/border_line.png);
	background-position: right top;
	background-repeat: repeat-y;
}
#selectabe {
	width:258px;
	float:left;
	clear:both;
}
#selectable .ui-selecting {
	background: #0099FF;
}
#selectable .ui-selected {
	background: #0099FF;
	color: white;
}
#selectable {
	list-style:none;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
#selectable li {
	width:100%;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	height: auto;
	cursor:pointer;
	float:left;
	clear:both;
}
#selectable li:hover {
	background: #59a8dc;
	color: white;
}


/* PLAYER CONTROLS */
#control {
	width:100%;
	height:38px;
	float:left;
	border-top:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
	background: #f7f7f7, url(../img/border_line.png) no-repeat top right;
	background: url(../img/border_line.png) no-repeat top right, -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 49%, #f2f2f2 50%, #f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(49%,#f7f7f7), color-stop(50%,#f2f2f2), color-stop(100%,#f2f2f2));
	background: url(../img/border_line.png) no-repeat top right,-webkit-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-o-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-ms-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 );
}
#leftBtn,
#rightBtn {
	display:block;
	float:left;
	width:10%;
	height:38px;
	cursor:pointer;
}
#rightBtn {
	background: url(../img/arrows.png) no-repeat -40px top,
		url(../img/border_line.png) no-repeat top right;	
}
#leftBtn {
	background: url(../img/arrows.png) no-repeat 5px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#leftBtn:active {
	background: url(../img/arrows.png) no-repeat 5px -40px,
	url(../img/border_line.png) no-repeat top right,
	url(../img/border_line.png) no-repeat top left;
}
#rightBtn:active {
	background: url(../img/arrows.png) no-repeat -40px -40px,
	url(../img/border_line.png) no-repeat top right;
}
#currentStatus {
	display:block;
	float:left;
	width:44%;
	height:27px;
	font-size:16px;
	font-weight:bold;
	padding: 12px 10px 0px 10px;
	text-transform:uppercase;
}
#fontMinusBtn,
#fontPlusBtn {
	display:block;
	float:left;
	width:10%;
	height:38px;
	cursor:pointer;
}
#fontMinusBtn {
	background: url(../img/font.png) no-repeat 6px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontPlusBtn {
	background: url(../img/font.png) no-repeat -44px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontMinusBtn:active {
	background: url(../img/font.png) no-repeat 6px -40px,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontPlusBtn:active {
	background: url(../img/font.png) no-repeat -44px -40px,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontSizeIndicator {
	display:block;
	float:left;
	width:12.85%;
	height:27px;
	text-align:center;
	font-size:18px;
	padding-top:12px;
}


/* PROFILE PANEL */
#profile {
	display: none;
	background:rgba(0,0,0,.65);
	color:#fff;
	padding:10px;
	width:600px;
	height:300px;
	float:left;
	clear:both;
}
#profile .photo {
	float:left;
	width:200px;
	height:300px;
}
#profile .photo img{
	display: block;
	margin:0 auto;
	padding: 0;
	max-height: 300px;
	max-width: 200px;
}
#profile .bio {
	float:left;
	width:380px;
	height:300px;
	margin-left:10px;
	padding-right:10px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.25;
	font-size: 14px;
}


/* DOWNLOAD BAR */
#download_bar {
	width:900px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	float: left;
	clear: both;
}
#download_bar p {
	font-size: 12px;
	color: #b5b5b5;
	font-weight: normal;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}
#download_bar ul {
	margin: 0px 0px 0px 30px;
	padding: 0px;
	display: inline-block;
	list-style: none;
}
#download_bar ul li {
	/* float: right; */
	display: inline-block;
	margin-left: 10px;
	
}
#download_bar ul li a,
#download_bar ul li a:visited {
	display: block;
	position: relative;
	text-decoration: none;
	padding:5px 20px 5px 28px;
	color: #818181;
	background-color: #fdfdfd;
	border: #939393 solid 1px;
}
#download_bar ul li a:after {
	content: "";
	background: url("../img/download_icon.png");
	opacity: 0.75;
	top: 2px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 25px;
}
#download_bar ul li a:hover {
	border: #333 solid 1px;
	background-image: url("../img/download_icon.png");
	background-repeat: no-repeat;
	background-position: left 2px;
	background-color: #FFF;
	color: #333;
}


/* AJAX ERROR */
#errorMsg {
	color:#f00;
}


/* NO JAVASCRIPT ERROR */
noscript {
	display:block;
	margin:15px;
}
noscript h1 {
	font-size:24px;
	color:#900;
	margin:10px 0px;
}
noscript p {
	font-size:16px;
	margin:10px 0px;
}

/* SAFARI HACK FIXES */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
	#note {
		width:629px;
	}
	
	#currentStatus {
		width:44%;
	}

    /* Safari only override */
    ::i-block-chrome, #note {
    	width:628px;
    }
    ::i-block-chrome, #currentStatus {
	    width:44.7%;
    }
}

/* OPERA HACK FIXES */
x:-o-prefocus, #note {
	width:628px;
}
x:-o-prefocus, #currentStatus {
	width:44.7%;
}