// variables
$font-size: 14px;
$gutter: 15px;

// mixins
@mixin clear() {
    float: left;
    clear: both;
}

// function
@function rem( $px, $base: $font-size ) {
    @return ( $px / $base ) * 1rem;
}

// imports
@import "sbplus_fonts";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";

/* GENERAL */
html {
    font-size: $font-size;
    margin: 0;
    padding: 0;
}

body {
    @extend html;
	line-height: rem( 16px );
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: transparent;
	@include clear;
}

p {
    margin: rem( $font-size ) 0;
}

// PLAYER WRAPPER
#storybook_plus_wrapper {
	width: rem( 900px );
	@include clear;
}

// SPLASH SCREEN
#splash_screen {
	width: rem( 900px );
	height: rem( 630px );
	padding: rem( 200px );
	text-align: center;
	background-color: #fff;
	background-position: left bottom;
	background-repeat: no-repeat;
	cursor: pointer;
	@include box-sizing( "border-box" );
	
	p {
	
    	font-size: rem( 24px );
        line-height: rem( 28px );
        font-weight: bold;
        
        small {
            font-size: rem( 18px );
            line-height: rem( 22px );
            font-weight: normal;
        }
        
	}
	
	a.playBtn, a.playBtn:visited, a.playBtn:hover {	
    	display: inline-block;
    	font-size: rem( 26px );
    	line-height: rem( 26px );
    	color: #fff;
    	text-align: center;
    	text-decoration: none;
    	margin-bottom: 0;
    	padding: rem( 10px ) rem( 40px ) rem( 5px );
    	background-color: #006DCC;
    	@include border-radius( rem( 3px ) );
    }
	
} // #splase_screen

#splash_screen.noteDisabled {
    height: rem( 430px );
    padding: rem( 100px ) rem( 200px );
}

// PLAYER
#player {

	display:none;
	@include clear;
	
	// HEADER (TOP BLACK) BAR
    header {
    
    	width: rem( 870px );
    	height: rem( 23px );
    	color: #fff;
    	font-size: rem( 16px );
    	font-weight: bold;
    	padding: rem( 7px ) rem( $gutter ) 0;
    	background-color: #131313;
    	
    	#lessonTitle {
        	display: inline-block;
            width: 410px;
            margin-right: rem( $gutter );
    	    float: left;
    	}
    	
    	#instructorName {
        	@extend #lessonTitle;
        	text-align: right;
        }
        
        .infoIcn {
        	display: inline-block;
        	@include opacity( .75 );
        	@include single-transition( opacity, ease-out, .3s );
        }
        
        .infoIcn:hover {
            @include opacity( 1 );
        	@include single-transition( opacity, ease-in, .3s );
        }
        
        a, a:visited, a:hover {
            color: #fff;
            text-decoration: none;
        }
    	
    } // header
	
} // #player


// PLAYER CONTENT
#content {

	@include clear;
	
	/* SLIDE LOADING SPINNER */
    #progressing {
        position: absolute;
        top: rem( 155px );
        left: rem( 295px );
        width: rem( 50px );
        height: rem( 50px );
        background: url( "../img/spinner.gif" ) no-repeat center center, #fff;
    }
	
	// SLIDE NOTE AREA
    #slideNote {
    	width: rem( 640px );
    	border-right: #ccc solid rem( 1px );
    	float: left;
    	@include box-sizing( "border-box" );
    }
	
	// SLIDE
    #slide {
    
    	position: relative;
    	height: rem( 360px );
    	background: #fff;
    	overflow: hidden;
    	
    	#img {
    	
    	    display: block;
    	    line-height: 0;
        	
        	img {
            	width: rem( 640px );
                height: rem( 360px );
        	}
        	
    	} // #img
    	
    	.magnifyIcon {
        	position: absolute;
        	width: rem( 30px );
        	height: rem( 30px );
        	font-size: rem( 20px );
        	color: #fff;
        	text-align: center;
        	padding-top: rem( 7px );
        	bottom: rem( 6px );
        	right: rem( 6px );
        	cursor: pointer;
        	background-color: #131313;
        	@include border-radius( rem( 3px ) );
        	@include box-sizing( "border-box" );
        	@include opacity( .25 );
        	@include single-transition( opacity, ease-out, .3s );
        }
        
        .magnifyIcon:hover {
            @include opacity( .75 );
            @include single-transition( opacity, ease-in, .3s );
        }
    	
    } // #slide
    
    // AUDIO PLAYER
    #ap {
    	display: none;
    	background-color: rgba(7,20,30,0.7);
    }
    
    #apm {
    	display: none;
    	width: 46.85%;
    	height: rem( 34px );
    	padding-top: rem( 4px );
    	background-color: rgba(7,20,30,0.7);
    	float: left;
    }
    
    // VIDEO PLAYER
    #vp {
    	display: none;
    	margin-top: rem( -360px );
    }
    
    // QUIZ
    #quiz {
    
    	height: rem( 360px );
    	background-color: #ebebeb;
    	overflow-y: scroll;
    	
    	.header {
        	height: rem( 15px );
        	color: #000;
        	font-size: rem( $font-size );
        	font-weight: bold;
        	text-transform: uppercase;
        	padding: rem( 10px ) rem( 20px );
        	background-image: url( "../img/quiz_bg.png" );
        	background-color: #e8e8e8;
    	}
    	
    	.question {
        	padding: rem( 16px ) rem( 20px ) rem( 20px );
        	font-size: rem( 18px );
        	line-height: rem( 24px );
        	font-weight: bold;
        	margin: 0;
    	}
    	
    	.answerArea {
        	padding: 0 rem( 20px );
        	margin: 0;
        }
        
        label {
        	display: block;
        	margin: 0 0 rem( 6px );
        	font-size: rem( $font-size );
        	color: #000;
        }
        
        textarea {
        	width: rem( 590px );
        	height: rem( 110px );
        	padding: rem( 5px );
        	font-size: rem( $font-size );
        	color: #000;
        	resize: none;
    	}
    	
    	.submitArea {
    	
        	text-align: center;
            padding: rem( 20px ) 0;
            
            a, a:visited, a:hover {
                display: inline-block;
            	color: #fff;
            	font-size: rem( 16px );
            	line-height: rem( 16px );
            	text-align: center;
            	text-decoration: none;
            	margin: 0;
            	padding: rem( 10px ) rem( 20px ) rem( 8px );
            	background-color: #5bb75b;
            	@include border-radius( rem( 3px ) );
            }
    
    	} // .submitArea
    	
    	.quizCorrect {
            font-size: rem( 14px );
            text-align: center;
            vertical-align: text-top;
            color: #fff;
            padding: rem( 6px ) 0;
            background-color: #08b108;
            margin: 0;
    	}
    	
    	.quizIncorrect {
        	@extend .quizCorrect;
        	background-color: #b0092d;
    	}
    	
    	.feedback {
        	padding: 0 rem( 20px );
        }
    	
    } // #quiz
	
} // #content

/* NOTE STYLES */
#note {

	width: rem( 630px );
	height: rem( 199px );
	border-top: #ccc solid 1px;
	padding: 0 rem( 5px );
	background-color: #fff;
	overflow:auto;
	float:left;
	
	a, a:visited {
    	color: #00f;
        text-decoration: underline;
	}
	
	a:hover {
    	text-decoration: none;
	}
	
	h1, h2, h3, h4, h5, h6, p {
        margin: rem( 6px ) 0;
	}
	
	p {
    	font-size: rem( $font-size );
    	line-height: rem( 20px );
    }
	
} // #note


#note h1 {
	font-size:20px;
	line-height:24px;
}
#note h2 {
	font-size:18px;
	line-height:22px;
}
#note h3, #note h4, #note h5, #note h6 {
	font-size:16px;
	line-height:20px;
}

/* TABLE OF CONTENT */
#toc {
	width: rem( 259px );
	height: rem( 599px );
	overflow:auto;
	border-bottom: #ccc solid rem( 1px );
	border-right: #ccc solid rem( 1px );
	background-color:#fff;
	float: left;
}
#selectabe {
	width:258px;
	float:left;
	clear:both;
}
#selectable .ui-selecting {
	background: #0099FF;
}
#selectable .ui-selected {
	background: #0099FF;
	color: white;
}
#selectable {
	list-style:none;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
#selectable li {
	width:100%;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	height: auto;
	cursor:pointer;
	float:left;
	clear:both;
}
#selectable li:hover {
	background: #59a8dc;
	color: white;
}


/* PLAYER CONTROLS */
#control {
	width:100%;
	height:38px;
	float:left;
	border-top:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
	background: #f7f7f7, url(../img/border_line.png) no-repeat top right;
	background: url(../img/border_line.png) no-repeat top right, -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 49%, #f2f2f2 50%, #f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(49%,#f7f7f7), color-stop(50%,#f2f2f2), color-stop(100%,#f2f2f2));
	background: url(../img/border_line.png) no-repeat top right,-webkit-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-o-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,-ms-linear-gradient(top, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	background: url(../img/border_line.png) no-repeat top right,linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 49%,#f2f2f2 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 );
}
#leftBtn,
#rightBtn {
	display:block;
	float:left;
	width:10%;
	height:38px;
	cursor:pointer;
}
#rightBtn {
	background: url(../img/arrows.png) no-repeat -40px top,
		url(../img/border_line.png) no-repeat top right;	
}
#leftBtn {
	background: url(../img/arrows.png) no-repeat 5px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#leftBtn:active {
	background: url(../img/arrows.png) no-repeat 5px -40px,
	url(../img/border_line.png) no-repeat top right,
	url(../img/border_line.png) no-repeat top left;
}
#rightBtn:active {
	background: url(../img/arrows.png) no-repeat -40px -40px,
	url(../img/border_line.png) no-repeat top right;
}
#currentStatus {
	display:block;
	float:left;
	width:44%;
	height:27px;
	font-size:16px;
	font-weight:bold;
	padding: 12px 10px 0px 10px;
	text-transform:uppercase;
}
#fontMinusBtn,
#fontPlusBtn {
	display:block;
	float:left;
	width:10%;
	height:38px;
	cursor:pointer;
}
#fontMinusBtn {
	background: url(../img/font.png) no-repeat 6px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontPlusBtn {
	background: url(../img/font.png) no-repeat -44px top,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontMinusBtn:active {
	background: url(../img/font.png) no-repeat 6px -40px,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontPlusBtn:active {
	background: url(../img/font.png) no-repeat -44px -40px,
		url(../img/border_line.png) no-repeat top right,
		url(../img/border_line.png) no-repeat top left;
}
#fontSizeIndicator {
	display:block;
	float:left;
	width:12.85%;
	height:27px;
	text-align:center;
	font-size:18px;
	padding-top:12px;
}


/* PROFILE PANEL */
#profile {
	display: none;
	background:rgba(0,0,0,.65);
	color:#fff;
	padding:10px;
	width:600px;
	height:300px;
	float:left;
	clear:both;
}
#profile .photo {
	float:left;
	width:200px;
	height:300px;
}
#profile .photo img{
	display: block;
	margin:0 auto;
	padding: 0;
	max-height: 300px;
	max-width: 200px;
}
#profile .bio {
	float:left;
	width:380px;
	height:300px;
	margin-left:10px;
	padding-right:10px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.25;
	font-size: 14px;
}


/* DOWNLOAD BAR */
#download_bar {
	width:900px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	float: left;
	clear: both;
}
#download_bar p {
	font-size: 12px;
	color: #b5b5b5;
	font-weight: normal;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}
#download_bar ul {
	margin: 0px 0px 0px 30px;
	padding: 0px;
	display: inline-block;
	list-style: none;
}
#download_bar ul li {
	/* float: right; */
	display: inline-block;
	margin-left: 10px;
	
}
#download_bar ul li a,
#download_bar ul li a:visited {
	display: block;
	position: relative;
	text-decoration: none;
	padding:5px 20px 5px 28px;
	color: #818181;
	background-color: #fdfdfd;
	border: #939393 solid 1px;
}
#download_bar ul li a:after {
	content: "";
	background: url("../img/download_icon.png");
	opacity: 0.75;
	top: 2px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 25px;
}
#download_bar ul li a:hover {
	border: #333 solid 1px;
	background-image: url("../img/download_icon.png");
	background-repeat: no-repeat;
	background-position: left 2px;
	background-color: #FFF;
	color: #333;
}


/* AJAX ERROR */
#errorMsg {
	color:#f00;
}


/* NO JAVASCRIPT ERROR */
noscript {
	display:block;
	margin:15px;
}
noscript h1 {
	font-size:24px;
	color:#900;
	margin:10px 0px;
}
noscript p {
	font-size:16px;
	margin:10px 0px;
}

/* SAFARI HACK FIXES */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
	#note {
		width:629px;
	}
	
	#currentStatus {
		width:44%;
	}

    /* Safari only override */
    ::i-block-chrome, #note {
    	width:628px;
    }
    ::i-block-chrome, #currentStatus {
	    width:44.7%;
    }
}

/* OPERA HACK FIXES */
x:-o-prefocus, #note {
	width:628px;
}
x:-o-prefocus, #currentStatus {
	width:44.7%;
}