# ignore codekit config file
config.codekit
**/config.codekit

# ingore bower components
bower_components/
**/bower_components

# ingore SASS cache hidden directory
.sass-cache
**/.sass-cache

#ignore demo folder in build directory
build/demo

# ingore build2
build2/

#ingore test file
build/test.html